/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


#main_title {
  font-weight: bolder;
  font-size: 80px;
  color: #083C5A;
  text-shadow: 5px 5px 0px white;
  margin: 0px;
}

// a {
//   text-decoration: none !important
// }

// .container {
//   background-color: white;
// }

